* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css */

.mb-30 {
    margin-bottom: 30px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

a {
    text-decoration: none !important;
    color: #000;
}

ul {
    list-style: none !important;
}

/* breadcrumb */

.section-breadcrumb .cr-breadcrumb-image {
    width: 100%;
    height: 70px;
    background-color: #e4f2ed;
}

.cr-breadcrumb-image .cr-breadcrumb-title h2 {
    font-family: "Manrope", sans-serif;
    font-size: 19px;
    line-height: 1;
    color: #2b2b2d;
}

.cr-breadcrumb-image .cr-breadcrumb-title span {
    font-family: "Poppins, sans-serif";
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: #7a7a7a;
    text-transform: capitalize;
}

.cr-breadcrumb-image .cr-breadcrumb-title span a {
    color: #64b496;
}

/* style 1 */

.product {
    padding-top: 100px;
}

.title {
    margin-bottom: 15px;
}

.title h2 {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    color: #2b2b2d;
}

.sub-title p {
    max-width: 600px;
    margin: auto;
    font-size: 14px;
    line-height: 22px;
    font-family: "Poppins, sans-serif";
    color: #7a7a7a;
}

.product-card {
    height: 100%;
    padding: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.product-card .product-card-img {
    border-radius: 5px;
}

.product-card .product-card-img .image-inner {
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    background-color: #f7f7f8;
    border-radius: 5px;
}

.product-card .product-card-img .image-inner .img {
    width: 100%;
    border-radius: 5px;
}

.product-card .product-card-img .cr-side-view {
    z-index: 20;
    transition: all 0.4s ease-in-out;
    top: 15px;
    right: -40px;
}

.product-card:hover .product-card-img .cr-side-view {
    right: 12px;
    opacity: 1 !important;
}

.cr-product-card .cr-product-image .cr-side-view .cr-remove-product {
    margin-bottom: 5px !important;
    background-color: #000 !important;
    color: #fff !important;
}

.cr-product-card .cr-product-image .cr-side-view .remove {
    font-size: 18px;
    line-height: 10px;
    color: #fff;
}

.product-card .product-card-img .cr-side-view .wishlist {
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card .product-card-img .cr-side-view .wishlist .heart {
    font-size: 18px;
    line-height: 10px;
}

.product-card .product-card-img .cr-side-view .model-oraganic-product {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card .product-card-img .cr-side-view .model-oraganic-product .eye {
    font-size: 18px;
    line-height: 10px;
}

.product-card .product-card-img .cr-shopping-bag {
    height: 35px;
    width: 35px;
    bottom: -16px;
    background: #f7f7f8;
    border: 1px solid #e9e9e9;
}

.product-card .product-card-img .cr-shopping-bag .bag {
    color: #64b496;
}

.product-card .cr-product-details {
    padding-top: 24px;
}

.product-card .cr-product-details .cr-brand a {
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    font-size: 13px;
    color: #777;
}

.product-card .cr-product-details .cr-brand .cr-star {
    margin-bottom: 12px;
}

.product-card .cr-product-details .cr-brand .cr-star .star {
    margin: 0 1px;
    font-size: 15px;
    color: #f5885f;
}

.product-card .cr-product-details .cr-brand .cr-star .rate {
    margin-left: 5px;
    color: #999;
    font-size: 11px;
    line-height: 10px;
    margin-bottom: 0;
    font-family: "Poppins, sans-serif";
}

.product-card .cr-product-details a.title {
    transition: all 0.3s ease-in-out;
    margin-bottom: 12px;
    font-family: "Poppins, sans-serif";
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #2b2b2d;
}

.product-card .cr-product-details .cr-price {
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    color: #7a7a7a;
}

.product-card .cr-product-details .cr-price .new-price {
    color: #64b496;
    font-weight: 700;
}

.product-card .cr-product-details .cr-price .old-price {
    margin-left: 5px;
    font-size: 13px;
    text-decoration: line-through;
}

/* style 2 & style 3 */

.product-card2 {
    height: 100%;
    padding: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.product-card2 .product-card2-img {
    border-radius: 5px;
}

.product-card2 .product-card2-img .image-inner2 {
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    background-color: #f7f7f8;
    border-radius: 5px;
}

.product-card2 .product-card2-img .image-inner2 .img {
    width: 100%;
    border-radius: 5px;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 {
    z-index: 20;
    transition: all 0.4s ease-in-out;
    top: 15px;
    right: -50px;
}

.product-card2:hover .product-card2-img .image-inner2 .cr-side-view2 {
    right: 12px;
    opacity: 1 !important;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 .wishlist {
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 .heart {
    font-size: 18px;
    line-height: 10px;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 .model-oraganic-product {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card2 .product-card2-img .image-inner2 .cr-side-view2 .model-oraganic-product .eye {
    font-size: 18px;
    line-height: 10px;
}

.product-card2 .product-card2-img .cr-shopping-bag2 {
    bottom: 12px;
    right: 12px;
    height: 35px;
    width: 35px;
    border: 1px solid #e9e9e9;
}

.product-card2 .product-card2-img .cr-shopping-bag2 .bag {
    color: #64b496;
}

.product-card2 .cr-product2-details {
    padding: 15px 15px 0 15px;
}

.product-card2 .cr-product2-details a {
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    margin-bottom: 12px;
    font-family: "Poppins, sans-serif";
    font-size: 15px;
    line-height: 24px;
    color: #2b2b2d;
}

.product-card2 .cr-product2-details p.cr-product2-name {
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Poppins, sans-serif";
    color: #7a7a7a;
    line-height: 1.75;
}

.product-card2 .cr-product2-details .cr-star {
    margin-bottom: 12px;
}

.product-card2 .cr-product2-details .cr-star .star {
    margin: 0 1px;
    font-size: 15px;
    color: #f5885f;
}

.product-card2 .cr-product2-details .cr-price {
    margin-bottom: 0;
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    line-height: 1.75;
    color: #7a7a7a;
}

.product-card2 .cr-product2-details .cr-price .new-price {
    color: #64b496;
    font-weight: 700;
}

.product-card2 .cr-product2-details .cr-price .old-price {
    margin-left: 5px;
    font-size: 13px;
    text-decoration: line-through;
}

/* style 4 */

.product-card4 {
    height: 100%;
    padding: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.product-card4 .product-card-img4 {
    border-radius: 5px;
}

.product-card4 .product-card-img4 .image-inner4 {
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    background-color: #f7f7f8;
    border-radius: 5px;
}

.product-card4 .product-card-img4 .image-inner4 .img {
    width: 100%;
    border-radius: 5px;
}

.product-card4 .product-card-img4 .cr-side-view4 {
    z-index: 20;
    transition: all 0.4s ease-in-out;
    top: 15px;
    right: -40px;
}

.product-card4:hover .product-card-img4 .cr-side-view4 {
    right: 12px;
    opacity: 1 !important;
}

.product-card4 .product-card-img4 .cr-side-view4 .wishlist {
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card4 .product-card-img4 .cr-side-view4 .wishlist .heart {
    font-size: 18px;
    line-height: 10px;
}

.product-card4 .product-card-img4 .cr-side-view4 .model-oraganic-product {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    color: #000;
}

.product-card4 .product-card-img4 .cr-side-view4 .model-oraganic-product .eye {
    font-size: 18px;
    line-height: 10px;
}

.product-card4 .product-card-img4 .cr-shopping-bag {
    height: 35px;
    width: 35px;
    bottom: -50px;
    opacity: 0;
    background: #f7f7f8;
    border: 1px solid #e9e9e9;
    transition: all 0.4s ease-in-out;
}

.product-card4:hover .product-card-img4 .cr-shopping-bag {
    bottom: -16px;
    opacity: 1 !important;
}

.product-card4 .product-card-img4 .cr-shopping-bag .bag {
    color: #64b496;
}

.product-card4 .cr-product-details4 {
    padding-top: 24px;
}

.product-card4 .cr-product-details4 .cr-brand4 a {
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    font-size: 13px;
    color: #777;
}

.product-card4 .cr-product-details4 .cr-brand4 .cr-star4 {
    margin-bottom: 12px;
}

.product-card4 .cr-product-details4 .cr-brand4 .cr-star4 .star {
    margin: 0 1px;
    font-size: 15px;
    color: #f5885f;
}

.product-card4 .cr-product-details4 .cr-brand4 .cr-star4 .rate {
    margin-left: 5px;
    color: #999;
    font-size: 11px;
    line-height: 10px;
    margin-bottom: 0;
    font-family: "Poppins, sans-serif";
}

.product-card4 .cr-product-details4 a.title {
    transition: all 0.3s ease-in-out;
    margin-bottom: 12px;
    font-family: "Poppins, sans-serif";
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #2b2b2d;
}

.product-card4 .cr-product-details4 .cr-price {
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    color: #7a7a7a;
}

.product-card4 .cr-product-details4 .cr-price .new-price {
    color: #64b496;
    font-weight: 700;
}

.product-card4 .cr-product-details4 .cr-price .old-price {
    margin-left: 5px;
    font-size: 13px;
    text-decoration: line-through;
}

.vehicle-detail-banner {
    height: 100%;
}

.section-product .carousel-item {
    padding: 0;
}

.vehicle-detail-banner .banner-slider {
    position: sticky;
    top: 30px;
}

.vehicle-detail-banner .banner-slide .slider-banner {
    padding-bottom: 15px;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}

.vehicle-detail-banner .banner-slide .slider-banner .slider-banner-image .zoom-image {
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #e9e9e9;
    background-color: #f7f7f8;
    border-radius: 5px;
}

.vehicle-detail-banner .banner-slide .slider-banner .slider-banner-image img {
    width: 100%;
    display: block;
    margin: auto;
}

.section-product .carousel-indicators {
    display: none;
}

.thumb-image {
    margin: 0 -6px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.thumbnail-image .thumbImg {
    margin: 0 6px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.thumbnail-image .thumbImg img {
    width: 100%;
    padding: 2px;
    border-radius: 5px;
}

.cr-size-and-weight-contain {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 20px;
}

.cr-size-and-weight-contain h2.heading {
    margin-bottom: 15px;
    display: block;
    color: #2b2b2d;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 500;
}

.cr-size-and-weight-contain p {
    font-size: 14px;
}

.cr-size-and-weight {
    padding-top: 20px;
}

.cr-size-and-weight .cr-review-star {
    display: flex;
}

.cr-size-and-weight .cr-review-star .cr-star {
    margin-right: 10px;
}

.cr-size-and-weight .cr-review-star .cr-star .star {
    font-size: 16px;
    color: #f5885f;
}

.cr-size-and-weight .cr-review-star p {
    font-size: 15px;
    margin-bottom: 0;
    font-family: "Poppins, sans-serif";
    color: #7a7a7a;
    line-height: 1.75;
}

.cr-size-and-weight .list ul {
    margin-top: 15px;
    padding: 0;
}

.cr-size-and-weight .list ul li {
    padding: 5px 0;
    color: #777;
    display: flex;
}

.cr-size-and-weight .list ul li label {
    min-width: 100px;
    margin-right: 10px;
    color: #2b2b2d;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.cr-size-and-weight .cr-product-price {
    padding-top: 20px;
}

.cr-size-and-weight .cr-product-price span.new-price {
    font-family: "Poppins, sans-serif";
    font-size: 24px;
    font-weight: 600;
    line-height: 1.167;
    color: #64b496;
}

.cr-size-and-weight .cr-product-price span.old-price {
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    text-decoration: line-through;
    line-height: 1.75;
    color: #7a7a7a;
}

.cr-size-and-weight .cr-size-weight {
    padding-top: 20px;
}


.cr-size-and-weight .cr-size-weight h5 {
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    line-height: 1.556;
    color: #2b2b2d;
}

.cr-size-and-weight .cr-size-weight .cr-kg {
    padding-left: 10px;   
}

.cr-size-and-weight .cr-size-weight .cr-kg ul {
    width: 100%;
}

.cr-size-and-weight .cr-size-weight .cr-kg ul li {
    margin: 2px;
    padding: 5px 10px;
    font-family: "Poppins, sans-serif";
    font-size: 12px;
    line-height: 1;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cr-size-and-weight .cr-size-weight .cr-kg ul .active-color {
    background-color: #64b496;
    color: white;
}

.cr-size-and-weight .cr-add-card {
    padding-top: 20px;
}

.cr-size-and-weight .cr-add-card .cr-qty-main {
    height: 100%;
}

.cr-size-and-weight .cr-add-card .cr-qty-main input {
    height: 40px;
    width: 40px;
    margin-right: 5px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.cr-size-and-weight .cr-add-card .cr-qty-main button {
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    line-height: 0;
}

.cr-size-and-weight .cr-add-card .cr-qty-main .minus {
    position: absolute;
    bottom: 0;
    right: 0;
}

.cr-size-and-weight .cr-add-card .cr-add-button {
    margin-left: 15px;
}

.cr-size-and-weight .cr-add-card .cr-card-icon {
    margin-left: 15px;
}

.cr-size-and-weight .cr-add-card .cr-card-icon button {
    background-color: transparent;
    border: 1px solid #e9e9e9;
}

.cr-size-and-weight .cr-add-card .cr-card-icon button .icon {
    width: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: white;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    color: #000;
}

.cr-paking-delivery {
    margin-top: 40px;
    padding: 24px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.cr-paking-delivery .nav-tabs {
    display: flex;
}

.cr-paking-delivery .nav-tabs .nav-item {
    margin-right: 30px;
    position: relative;
}

.cr-paking-delivery .nav-tabs .nav-item .nav-link {
    margin-bottom: 25px;
    padding: 0;
    font-family: "Poppins, sans-serif";
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    color: #2b2b2d;
    border: 0;
    text-align: left;
}

.cr-paking-delivery .nav-tabs .nav-item .nav-link::after {
    content: "";
    transition: all 0.3s ease 0s;
    height: 2px;
    width: 0;
    margin: 0 auto;
    position: absolute;
    top: auto;
    bottom: 0;
    background-color: #64b496;
    left: 0;
    right: auto;
}

.cr-paking-delivery .nav-tabs .nav-item .nav-link:hover::after {
    width: 100%;
    background-color: #64b496;
}

.cr-paking-delivery .nav-tabs .nav-item .nav-link.active {
    color: #64b496;
}

.cr-paking-delivery .nav-tabs .nav-item .nav-link.active::after {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 2px;
    width: 100%;
    margin: 0 auto;
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    background-color: #64b496;
    left: 0;
    right: auto;
}

.cr-paking-delivery .cr-tab-content .list ul {
    margin-top: 30px;
    margin-bottom: -5px;
    padding: 0;
}

.cr-paking-delivery .cr-tab-content .list ul li {
    padding: 5px 0;
    color: #777;
    list-style: none;
    display: flex;
}

.cr-paking-delivery .cr-tab-content .list ul li label {
    min-width: 100px;
    margin-right: 10px;
    color: #2b2b2d;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.cr-paking-delivery .cr-tab-content .cr-description {
    padding-top: 30px;
}

.cr-paking-delivery .cr-tab-content .cr-description p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
    font-family: "Poppins, sans-serif";
    color: #7a7a7a;
    line-height: 1.75;
}

.cr-paking-delivery .cr-tab-content h4.heading {
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #2b2b2d;
    border-bottom: 1px solid #e9e9e9;
}

.cr-paking-delivery .cr-tab-content .cr-description {
    padding-top: 30px;
}

.cr-tab-content-from {
    padding-top: 30px;
}

.cr-tab-content-from .post {
    margin-bottom: 30px;
}

.cr-tab-content-from .post .content {
    display: flex;
}

.cr-tab-content-from .post .content img {
    width: 50px;
    height: 50px;
    margin-right: 24px;
    border-radius: 5px;
}

.cr-tab-content-from .post .content .details {
    display: flex;
    flex-direction: column;
}

.cr-tab-content-from .post .content .details .date {
    margin-bottom: 10px;
    font-size: 13px;
    color: #777;
}

.cr-tab-content-from .post .content .details .name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
}

.cr-tab-content-from .post .cr-t-review-rating {
    margin-left: auto;
    margin-bottom: 20px;
}

.cr-tab-content-from .post .cr-t-review-rating .star {
    color: #f5885f;
    letter-spacing: -5px;
    font-size: 19px;
}

.cr-tab-content-from .post p {
    padding-left: 74px;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: "Poppins, sans-serif";
    color: #7a7a7a;
    line-height: 1.75;
}

.cr-tab-content-from h4.heading {
    font-family: "Poppins, sans-serif";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2b2b2d;
    padding-bottom: 10px;
}

.cr-tab-content-from .cr-ratting-star span {
    font-family: "Poppins, sans-serif";
    font-size: 14px;
    color: #7a7a7a;
    line-height: 1.75;
    margin-right: 10px;
}

.cr-tab-content-from .cr-ratting-star .cr-t-review-rating {
    margin-bottom: 20px;
}

.cr-tab-content-from .cr-ratting-star .cr-t-review-rating .star {
    color: #f5885f;
    font-size: 19px;
    letter-spacing: -5px;
}

.cr-tab-content-from .cr-ratting-input:not(:last-child) {
    margin-bottom: 10px;
}

.cr-tab-content-from .cr-ratting-input input {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding: 5px 20px;
    outline: none;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    color: #777;
    font-size: 14px;
}

.cr-tab-content-from .cr-ratting-input textarea {
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    color: #777;
    outline: none;
}